/*Fuentes de tipografia*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,600&display=swap");

/* VARIABLES CSS */
/*Header*/
:root {
  --header-height: 3rem;
}
/*Colores*/
:root {
  --color-first: #ea4c89;
  --color-secondary: #1d2063;
  --color-text: #fff;
}
/*Fuente y tipografia*/
:root {
  --heading-font: "Raleway";
  --body-font: "Open Sans";
  --h1-font-size: 2rem;
  --h3-font-size: 1rem;
  --small-font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 3.5rem;
    --h3-font-size: 1.25rem;
    --small-font-size: 0.8125rem;
  }
}
/* z-index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  color: var(--color-text);
  background: linear-gradient(#1d2063 0%, #7376a8 45%, #1d2063 80%);
  font-family: var(--body-font);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: var(--h1-font-size);
  font-family: var(--heading-font);
}
img {
  max-width: 100%;
  height: auto;
}

/* LAYAOUT */
.bd-grid {
  display: grid;
  grid-template-columns: 100%;
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  margin-bottom: 3rem;
}
/*.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
}*/
/* COMPONENTS */
.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--color-first);
  color: var(--color-text);
  border-radius: 1.5rem;
}
.button:hover {
  box-shadow: 2px 0 24px var(--color-first);
  transition: 0.5s;
}

/* PAGES */
.home {
  height: calc(100vh - var(--header-height));
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-menu {
  /*display: grid;*/
  background-color: var(--color-first);
  font-family: var(--heading-font);
  padding: 3rem 5% 6rem 5%;
}
.table-menu h2 {
  font-size: var(--h1-font-size);
  font-family: var(--heading-font);
  color: var(--color-secondary) !important;
}

.table-menu .list-group-item a {
  text-decoration: none; /* Elimina el subrayado de los hipervínculos */
  color: inherit; /* Hereda el color del texto normal */
}
.list-group-item a:hover {
  color: #fff;
  background-color: var(--color-secondary);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.container h2 {
  font-size: var(--h1-font-size);
}
.container .img-sales {
  margin-top: 30px;
  text-align: center;
}
.container .img-sales img {
  width: 70%;
  height: 100%;
  /*object-fit: cover;*/
  box-shadow: 5px 5px 10px var(--color-first); /*rgba(0, 0, 0, 0.2)*/
  cursor: pointer;
}
.container .img-sales2 {
  margin-top: 30px;
  display: flex;
}
.container .img-sales2 img {
  margin-right: 2%;
  width: 50%;
  height: 100%;
  /*object-fit: cover;*/
  cursor: pointer;
  box-shadow: 5px 5px 10px var(--color-first); /*rgba(0, 0, 0, 0.2)*/
}

#galery {
  background: linear-gradient(#ffffff 80%, #18b6a9 100%);
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}

.container-goals li {
  margin-top: 20px;
}

/*@media screen and (max-width: 768px) {
   .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 60%;
    height: 100vh;
    padding: 1.5rem;
    background-color: var(--color-secondary);
    z-index: var(--z-fixed);
    transition: 0.5s;
    border-top: 1px solid var(--color-text);
    border-left: 1px solid var(--color-text);
  }
}*/
.nav__item {
  margin-bottom: 1.5rem;
}
.nav__link {
  color: var(--color-text);
}
.nav__link:hover {
  border-bottom: 1px solid var(--color-text);
}
.nav__icon {
  font-size: 1.5rem;
}
.menu-toggle {
  cursor: pointer;
}

/*Aparece menu*/
.show {
  right: 0;
}

/*Home*/
.home__data {
  padding-top: 2rem;
  text-align: center;
}
.home__title {
  margin-bottom: 0.5rem;
  color: var(--color-first);
}
.home__name {
  display: block;
  margin-bottom: 1.5rem;
  font-size: var(--h3-font-size);
}
.home__social {
  display: flex;
  align-items: center;
  text-align: initial;
}
.home__social-name {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  border-left: 1px solid var(--color-text);
  margin-right: 0.5rem;
  padding: 1rem 0.2rem;
  font-size: var(--small-font-size);
}
.home__social-icon {
  margin-right: 1rem;
  color: var(--color-text);
  /*z-index: var(--z-back);*/
  cursor: pointer;
}
.home__img {
  padding: 2rem;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .home {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
  }
  .button {
    margin-bottom: 3rem;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-bottom: 0;
    margin-left: 1.5rem;
  }
  .menu-toggle {
    display: none;
  }
  .home__data {
    padding: 0;
    text-align: initial;
  }
  .home__social-icon {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/*FOOTER*/
.footer {
  background: linear-gradient(#18b6a9 0%, #202020 100%);
  padding: 50px 0;
  text-align: center;
  /*margin-top: 3em;*/
  /*margin-top: -50px;*/
}

.footer a {
  text-decoration: none; /* Elimina el subrayado de los hipervínculos */
  color: inherit; /* Hereda el color del texto normal */
  font-family: "Abel", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.footer a:hover {
  color: #ea4c89;
  text-shadow: #1d2063;
}

/* Estilo para el modal */
.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed; /* Posición fija para que cubra toda la pantalla */
  z-index: 1; /* Establecer la capa más alta */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilitar el desplazamiento */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
}

/* Estilo para la imagen en el modal */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin-top: 79px;
}

/* Estilo para el botón de cerrar */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/* Estilo para el botón de cerrar al pasar el mouse */
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para el pie de foto */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Estilo del botón */
.back-button {
  text-align: center;
  background-color: #8b3d7c; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  border: none;
  padding: 10px 20px; /* Espaciado interno del botón */
  border-radius: 5px; /* Bordes redondeados */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición de colores */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}

/* Estilo del botón en hover */
.back-button:hover {
  background: linear-gradient(
    #8b3d7c 50%,
    #1d2063 100%
  ); /* Color de fondo en hover */
  color: #fff; /* Color del texto en hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra en hover */
  transition-duration: 0.5s;
}
